{
    "extends": "airbnb",
    "rules": {
        "no-console": "off",
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "react/forbid-prop-types": 0,
        "react/prop-types": 0
    }
}
